<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>Popn Issues</title>

  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
  <%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css' %>

  <%= jquery_include_tag :cloudflare %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>

  <%= javascript_include_tag :modernizr %>
</head>
<body>

      <%= yield %>


</body>
</html>
